<%= form_for(@item_template) do |f| %>
  <% if @item_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_template.errors.count, "error") %> prohibited this item_template from being saved:</h2>

      <ul>
      <% @item_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :copyright_date %><br>
    <%= f.datetime_select :copyright_date %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
