<h1>Listing item_templates</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Copyright date</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_templates.each do |item_template| %>
      <tr>
        <td><%= item_template.title %></td>
        <td><%= item_template.copyright_date %></td>
        <td><%= item_template.genre %></td>
        <td><%= link_to 'Show', item_template %></td>
        <td><%= link_to 'Edit', edit_item_template_path(item_template) %></td>
        <td><%= link_to 'Destroy', item_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item template', new_item_template_path %>
